:root {
    --bgColor: #F1EFEF;
    --bgNavColor: #A0BFE0;
    --bgNavAColor: #7895CB;
    --bgNavAHoverColor: #1b4084;
    --bgActivePage: #86a6e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bgColor);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgNavColor);
}

header ul {
    display: flex;
    list-style-type: none;
    padding: 3ch;
}   
header ul li {
    margin: 0 1ch 0;
}

#activePage {
    background-color: var(--bgActivePage);
}

header ul li a {
    text-decoration: none;
    color: black;
    font-size: larger;
    padding: 1ch;
    background: var(--bgNavAColor);
    border-radius: 1ch;
    border: 2px solid transparent;
}

header ul li a:hover {
    border-color: var(--bgNavAHoverColor);
}